@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import 'article_style.css';
@import 'colors-effects.css';

html{
  background-color: #000;
}
html, body {
  height: 98%;
  width: 98%;
}

.secondary-font{
  font-family: 'Calligraffitti', cursive;
  color: white;
}
.nav-item, nav ul{
  display:inline;
}

.nav-item.brand{
  font-size: 25px;
  border: none;
  color: #fffed6;
}

.nav-item.brand a:hover{
  font-size: 25px;
  border: none;
  text-shadow: 5px 5px 10px #000;
}

.nav-item {
    margin: 0px 20px;
    font-family: 'Calligraffitti', cursive;
    color: white;
}

.nav-item > a{
  text-decoration:none;
  color: unset;
}
.nav-item > a:hover{
  text-decoration:none;
  color: unset;
  border-bottom: 1px solid white;
}
.nav-item > a:visited{
  text-decoration: none;
  color: unset;
}


header h1{
  font-family: 'Lobster', cursive;
  font-size:60px;
  text-align: center;
  color: #fffed6;
  text-shadow: 5px 5px 10px #000;
}

main{
  width: inherit ;
  margin: 0 auto;
  text-align:center;
}

#account-username{
  font-size: 20px;
}
.footer{
  position: absolute;
  bottom: 0;
  text-align:right;
  width: inherit;
  font-family: 'Calligraffitti', cursive;
  color: white;
}


.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

#home-content{
  position:relative;
  top: 20%;
}
#login-content{
  position: relative;
  top: 15%;
}

#account-content{
  position: relative;
  top: 7%;
}

#bkgrnd-image{
   background: url('../images/book-1149031_1920.jpg');
   width: 100%;
   height: 100%;
   background-size: 100% 100%;
   background-repeat: no-repeat;
   position: absolute;
   z-index: -1;
   top: 0;
   left: 0;
   opacity: 0.8;
}



/*

#bkgrnd-image{
  height: inherit;
  width: inherit;
  position: absolute;
  z-index: -100;
  margin: 0 0;
}
#bkgrnd-image img{
  width: inherit;
  height: inherit;
}
*/

.multiple_page_div{
  height: 550px;
  width: 100%
}

input[type="submit"]{
  text-decoration: none;
  background-color: transparent;
  font-family: 'Calligraffitti', cursive;
  color: white;
  border: none;
  font-size: 30px;
}

input[type="submit"]:hover{
  border-bottom: 1px solid white;
}

input[type="text"] {
    height: 35px;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    text-align: center;

}

input[type="password"] {
    height: 35px;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    text-align: center;
}
input[type="email"] {
    height: 35px;
    -moz-border-radius:10px; /* Firefox */
    -webkit-border-radius: 10px; /* Safari, Chrome */
    -khtml-border-radius: 10px; /* KHTML */
    border-radius: 10px; /* CSS3 */
    text-align: center;
}
