<h2>Forgot Password</h2>
<br/><br/>
<form method="post" action="">
Enter email address:<br/> <input type="email" name="email" placeholder="Email" />
<input type="submit" name="submit" value="Submit" />
</form>
