<h1>Keep it Simple -- RSS Reader</h1>
<% if flash.key?("message") %>
  <p><%= flash[:message] %></p>
<% end %>
<div class="face">
  <form method="post" action="/process_feeds">
  <input type="text" size="100"  placeholder="Enter feed link" name="feed" />
  <br/><br/>
  <input type="submit" name="submit" value="Read Feed" />
</form>
</div>
