<div id="home-content">
<header>
  <h1>Simplicity : RSS Reader</h1>
</header>
<br/>
<main>
<% if flash.key?("message") %>
  <p><%= flash[:message] %></p>
<% end %>
  <form method="post" action="/process_feeds">
    <input type="text" size="100" style='text-align:center;'  placeholder="Enter feed link" name="feed" />
    <br/><br/>
    <input type="submit" name="submit" value="Open Feed" />
  </form>

</main>

</div>
