<!DOCTYPE html>
<html>
<head>
<title>RSS Feed Reader</title>
 <meta charset="utf-8">

 <meta name="author" content="Naomi Dennis">
 <meta name="description" content="Future Front End/Full Stack Developer">

 <link rel="icon" type="image/x-icon" href="favicon.ico">

 <link rel="stylesheet" href="/css/my_face.css">
<!--[if lt IE 9]>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
 <![endif]-->
</head>
<body class="">
    <div id="bkgrnd-image">
    </div>
<!--  <img alt="" src="https://static.pexels.com/photos/61109/pexels-photo-61109.jpeg" id="bkgrnd-image" /> -->
    <nav>
     <!-- Brand -->
     <% if !@current_user.nil? %>
        <ul class="">
          <li class="nav-item brand">
              <a href="/">Simplicity RSS Reader</a>
          </li>
          <li class="nav-item">
            <a class="" href="/feeds">View Feeds</a>
          </li>
     <% else %>

      <ul class="">
        <li class="nav-item brand">
            <a href="/">Simplicity RSS Reader</a>
        </li>
       <li class="nav-item">
         <a class="" href="/login">Log In</a>
       </li>
       <li class="nav-item">
         <a class="" href="/signup">Sign Up</a>
      </li>
    </ul>
     <% end %>
     <!-- Links -->
   </nav>

    <!-- Ruby Erbs -->
   <%= yield %>
     <div class="footer">
       <address>&copy;RSS Reader -- Naomi Dennis -- Flatiron Project 2018</address>
     </div>
</div>
</body>
</html>
