<h2>Login</h2>
<div id="face">
  <input type="text" name="username" placeholder="Username" required><br/><br/>
  <input type="password" name="password" placeholder="Password" required><br/><br/>
  <input type="submit" name="submit" value="Login" required>
</div>
