<h2>Login</h2>
<% if flash.has_key?(:message) %>
  <p><%= flash[:message] %></p>
<% end %>
<div id="face">
  <form method="post" action="/login">
  <input type="text" name="username" placeholder="Username" required><br/><br/>
  <input type="password" name="password" placeholder="Password" required><br/><br/>
  <input type="submit" name="submit" value="Login" required>
</form>
</div>
