<div id="login-content">
  <header>
    <h1>Simplicity RSS Reader</h1>
  </header>
  <main>
    <% if flash.has_key?(:message) %>
      <p><%= flash[:message] %></p>
    <% end %>
      <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username" size="50" required><br/><br/>
        <input type="password" name="password" placeholder="Password" size="50" required><br/><br/>
        <input type="submit" name="submit" value="Login" required>
    </form>
  </main>
</div>


<!--
<div class="container text-center">
  <div class="row">
    <div class='col'>
    </div>
    <div class='col'>
      <h2 class="custom-header" >Login</h2>
      <br/>
      <% if flash.has_key?(:message) %>
        <p><%= flash[:message] %></p>
      <% end %>
      <div id="face">
        <form method="post" action="/login">
        <input type="text" name="username" placeholder="Username" required><br/><br/>
        <input type="password" name="password" placeholder="Password" required><br/><br/>
        <input type="submit" name="submit" value="Login" required>
      </form>
      </div>

    </div>
    <div class='col'>
    </div>
  </div>
</div>
-->
