<div id="login-content">
  <header>
    <h1>Simplicity RSS Reader</h1>
  </header>
  <main>
    <% if flash.key?(:message) %>
      <p class="flash secondary font"><%= flash[:message] %></p>
    <% end %>
    <form action="/signup" method="post">
      <input type="text" placeholder="Username" name="username" size="50" required><br/><br/>
      <input type="password" placeholder="Password" name="password"  size="50" required><br/><br/>
      <input type="email" placeholder="Email" name="email" size="50" required><br/><br/>
      <input type="submit" name="submit" value="Sign up" />
    </form>
  </main>
</div>


<!--
<div class="container">
<div class="row">
  <div class="col">

  </div>
  <div class="col text-center">
    <h2 class="custom-header">Sign up</h2>
    <br/>
    <% if flash.has_key?(:message) %>
      <p><%= flash[:message] %></p>
    <% end %>
    <form action="/signup" method="post">
      <input type="text" placeholder="Username" name="username" required><br/><br/>
      <input type="password" placeholder="Password" name="password"  required><br/><br/>
      <input type="email" placeholder="Email" name="email" required><br/><br/>
      <input type="submit" name="submit" value="Sign up" />
    </form>
  </div>
  <div class="col">

  </div>
</div>
</div>
-->
