


<div class="container">
  <div class="row">
    <div class="col-2">
      <!-- Empty -->
    </div>
    <div class="col text-center" >
      <h2 class="custom-header"> Feeds </h2>
      <% if @articles.empty? %>
        <p>You're feed is empty!</p>
        <p><a href="/">Add a feed!</a></p>
      <% else %>
      <% @articles.each do | article | %>
        <% article[:articles].each do | item | %>
        <br/>
        <div class="gray-bkgrnd border shadow-bkgrnd">
          <div class="article-title">
            <h4 ><%= item[:title] %></h4>
          </div>
          <br/>
          <div class="article-description">
            <p><%= item[:description] %></p>
          </div>
          <div class="article-date">
            <p ><%= item[:date].to_s.split(" ").slice(0,4).join(" ") %></p>
          </div>
          <div class="article-link">
           <a href="<%=item[:link]%>">Read More</a>
         </div>
        </div>
        <br/>
        <%  end %>
      <% end %>

      <% end %>
    </div>
    <div class="col-2">
    </div>
  </div>
</div>
